@import './responsive';

body {
	background-color: var(--bg-color);
}

#root {
	display: flex;
    flex-direction: column;
    min-height: 100vh;

	& > .page {
		flex: 1;
	}
}

.page {
	position: relative;
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 100px;

	@include lg {
        padding: 0 50px;
    }

	@include md {
        padding: 0 20px;
    }
}

.hidetext {
	font-size: 0;
	line-height: 0;
	display: block;
}

.img-responsive {
	width: 100%; 
	height: auto;
	display: block;
}

.img-cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}