@import './responsive';

body {
	font-family: $text-font;
	font-size: $font-size-base;
	color: $text-color;
	line-height: $line-height-base;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.paragraphe {
	line-height: 25.5px;

	@include md {
		line-height: 17px;
    }
}

a {
	color: $text-color;
	font-weight: 500;
}