$text-font: "Montserrat", sans-serif;

$font-size-base: 18px;
$font-size-h1: 48px;
$font-size-h2: 36px;
$font-size-lk: 24px;

$text-color: #000;
$text-white: #fff;

$bg-banner: rgba(0, 0, 0, 0.6);
$bg-banner-light: rgba(0, 0, 0, 0.3);
$bg-gallery: #F6F6F6;
$bg-titre-collapse: #FF6060;
$bg-texte-collapse: rgba(246, 246, 246, 0.45);

$gradient-card: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(10,10,10,0) 42%, rgba(4,4,4,0.5) 100%);

$line-height-base: 1.428571429;

$max-width: 1440px;