@import './variables';

.collapse {
    width: 100%;

    & + & {
        margin-top: 30px;
    }

    .tt-h2 {
        display: flex;
        align-items: center;
        height: 52px;
        padding: 0 0 0 15px;
        border-radius: 5px;
        background-color: $bg-collapse;
        color: $text-white;
        font-weight: 700;
        cursor: pointer;
    }
    
}