@import './variables';

.pg-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 60px 0 100px;

    .code {
        font-size: 288px;
        color: $bg-titre-collapse;
        font-weight: 700;
        line-height: 230px;
    }
    
    .tt-h1 {
        font-size: $font-size-h2;
        color: $bg-titre-collapse;
        font-weight: 500;
    }

    .lk-back {
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            border-top: 1px solid $text-color;
            transition: all 0.3s;
            display: block;
        }

        &:hover {
            &::after {
                border-top-color: transparent;
            }
        }
    }
}