@import './variables';
@import './responsive';

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 209px;
    padding-bottom: 29px;
    background-color: $text-color;

    @include md {
		justify-content: center;
        padding-bottom: 0;
    }

    .logo {
        width: 122px;
        height: auto;
    }

    .copyright {
        margin-top: 35px;
        font-size: $font-size-lk;
        color: $text-white;
        font-weight: 500;

        @include md {
            width: 120px;
            margin-top: 10px;
            font-size: 12px;
            text-align: center;
            line-height: 17px;
        }
    }
}