.header {
    padding: 45px 0 50px;

    .page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 210px;
        height: auto;
    }
}