@import './responsive';

.header {
    padding: 45px 0 50px;

    @include md {
		padding: 20px 0 25px;
    }

    .page {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 210px;
        height: auto;

        @include md {
            width: 145px;
        }
    }
}