@import './variables';
@import './responsive';

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 5.3%;
    margin: 43px 0 50px;
    padding: 50px;
    border-radius: 25px;
    background-color: $bg-gallery;

    @include lg {
		  column-gap: 6%;
    }

    @include md {
		  gap: 20px 0;
      margin: 22px 0 27px;
      padding: 0;
      background-color: transparent;
    }
}