@import './variables';
@import './responsive';

.menu {
    display: flex;
    gap: 60px;

    @include md {
        gap: 26px;
    }

    .lk-menu{
        font-size: $font-size-lk;

        @include md {
            font-size: 12px;
            text-transform: uppercase;
        }

        &::after {
            content: '';
            width: 100%;
            height: 1px;
            border-top: 1px solid transparent;
            transition: all 0.3s;
            display: block;
        }

        &.active, 
        &:hover {
            &::after {
                border-top-color: $text-color;
            }
        }
    }
}