.rating {
    display: flex;
    
    .star {
        width: 36px;
        height: 36px;
        background: url(../assets/star-off.png) no-repeat;
        background-size: 100% 100%;
        display: block;

        &.star-on {
            background-image: url(../assets/star-on.png);
        }
    }
}